root = true

# All files
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# TypeScript/JavaScript
[*.{ts,tsx,js,jsx}]
indent_style = space
indent_size = 2

# HTML
[*.{html,htm}]
indent_style = space
indent_size = 2

# JSON
[*.json]
indent_style = space
indent_size = 2

# SCSS/CSS
[*.{scss,css}]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
