/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Orange Brand Colors */
:root {
  --orange-primary: #FF7900;
  --orange-dark: #CD3C14;
  --orange-light: #FFB4E6;
  --black: #000000;
  --white: #FFFFFF;
  --grey-light: #F6F6F6;
  --grey-medium: #CCCCCC;
  --grey-dark: #333333;
}
